/about.html
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/assignment.html
/contact.html
/courses.html
/pexels-dids-3177333.jpg
/playlist.html
/profile.html
/site.webmanifest
/teachers.html
/teacher_profile.html
/update.html
/watch-video.html